body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000;
}

header {
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #e50914; /* Rojo característico de Netflix */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}

/* Nuevos estilos para el título y la descripción */
.main-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

.main-content .description {
    font-size: 1.5em;
    color: #ccc;
    margin-bottom: 30px;
}

/* Estilos para el catálogo de series */
.series-container {
    display: flex;
    flex-wrap: wrap;
}

.series-item {
    margin: 20px;
    text-align: center;
}

.series-item img {
    width: 200px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

.series-item img:hover {
    transform: scale(1.1);
}

footer {
    background: #141414;
    color: #ccc;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
