body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #e50914; /* Rojo característico de Netflix */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}

/* Nuevos estilos para el título y la descripción */
.main-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

.main-content .description {
    font-size: 1.5em;
    color: #ccc;
    margin-bottom: 30px;
}

/* Estilos para el catálogo de series */
.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    margin: 20px;
    text-align: center;
    position: relative;
}

.movie-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
}

.movie-button::before {
    content: '\25B6'; /* Símbolo de reproducción Unicode */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
    opacity: 0.8;
}

.movie-button:hover {
    transform: scale(1.1);
}

.trailer-video {
    display: none;
    width: 100%;
}

.footer {
    background: #141414;
    color: #ccc;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
